@media (max-width: 768px){
    textarea {
        height: 200px;
        font-size: 1rem;
    }

    .container1 {
        flex-direction: row;
        width: 100%;
    }
    .container2 {
        flex-direction: column;
        width: 100%;
    }

    .button-container {
        flex-direction: row;
        margin-top: 20px;
        gap: 10px;
    }

    .button-class1, .button-class2 {
        width: 90%;
        padding: 16px;
    }
@media (max-width: 425px) {
    .button-container {
        flex-direction: column;
        width: 100%;
    }

    .container1 {
        flex-direction: column;
        width: 100%;
    }
    .container2 {
        flex-direction: column;
        width: 100%;
    }

