* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

textarea {
    font-size: 2rem;
    width: 100%;
    padding: 10px;
    border: none;
    height: 250px;
    display: flex;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    gap: 4px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    gap: 4px; 
}
.button-container {
    display: flex;
    gap: 10px;
    width: 100%;
    align-items: center;
    position: relative;
    margin-top: 20px;
}

.button-class1, .button-class2 {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 400;
    padding: 24px;
    width: 328px;
    height: 67px;
    border-radius: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.button-class1 {
    color: #FFFFFF;
    background: #000000;
    border: 2px solid #FFFFFF;
}

.button-class2 {
    color: #000000;
    background: #FFFFFF;
    border: 1px solid #000000;
}

body{
        height: 100vh;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
