* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

textarea {
    font-size: 1rem;
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius:8 px;
    height: 150px;
    display: flex;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    gap: 4px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
textarea:focus {
    border-color: #000;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.container1 {
    display: flex;
    margin: 0 auto;
    gap: 10px; 
    width: 90%;
}

.container2 {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 10px; 
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: #FFFFFF;
    width: 90%;
    max-width: 600px;
    padding: 20px;
}
.button-container {
    display: flex;
    gap: 10px;
    width: 100%;
    align-items: center;
    position: relative;
    margin-top: 20px;
    justify-content: space-evenly;
}

.button-class1, .button-class2 {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 400;
    padding: 12px 24px;
    width: calc(50% - 15px);
    height: 67px;
    border-radius: 8px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.button-class1 {
    color: #FFFFFF;
    background: #000000;
    border: 2px solid #FFFFFF;
}

.button-class1:hover {
    background: #333;
}

.button-class2 {
    color: #000000;
    background: #FFFFFF;
    border: 1px solid #000000;
}

.button-class2:hover {
    background: #f0f0f0;
}

body{
    height: 100vh;
    width: 100%;
    position: relative;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 90%;
    max-width: 600px;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
}

footer {
    margin-top: 20px;
}


.info-text, .instruction-text {
    font-size: 1rem;
    margin-bottom: 10px;
}
output{
  white-space: nowrap;
  overflow-x: scroll;
  width: 100%;


}
